body {
    background: url("");
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
#main-box {
    position: absolute;
    left: 35%;
    right: 25%;
    top: 60%;
    max-width: 700px;
    min-width: 700px;
    opacity: 0.9;
}
#char-box {
    opacity: 0.9;
}
#enemy-char-box {
    opacity: 0.9;
    position: absolute;
    top:0;
    right:0;
    left: 81%;
    
}
#char-sprite-box {
    position: absolute;
    left: 20%;
    right: 40%;
    top: 10%;
}
#char-sprite {
    height: 500px;
}
#enemy-sprite-box {
    position: absolute;
    right:0;
    left:65%;
    top: 10%;
}
#enemy-sprite {
    height: 500px;
}
#enemy-health-bar {
    width: 294.44px;
}
/* #game_button1 {
    min-width: 170px;
    max-width: 170px;
}
#game_button2 {
    min-width: 170px;
    max-width: 170px;
}
#game_button3 {
    min-width: 170px;
    max-width: 170px;
} */