html {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    background-image: url("../images/background/shadowlands_2048x2048.jpg");
    background-color: rgb(1, 28, 59);
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
#main-box {
    position: absolute;
    left: 35%;
    right: 25%;
    top: 60%;
    max-width: 700px;
    min-width: 700px;
    opacity: 0.9;
}
#char-box {
    opacity: 0.9;
}
#enemy-char-box {
    opacity: 0.9;
    position: absolute;
    top:0;
    right:0;
    left: 85%;
    
}
#char-sprite-box {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
}
#char-sprite {
    height: 500px;
}
#enemy-sprite-box {
    position: absolute;
    right:25%;
    left:0;
    top: 10%;
}
#enemy-sprite {
    height: 500px;
}
/* #game_button1 {
    min-width: 170px;
    max-width: 170px;
}
#game_button2 {
    min-width: 170px;
    max-width: 170px;
}
#game_button3 {
    min-width: 170px;
    max-width: 170px;
} */