body {
    background: url("");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#main-box {
    position: absolute;
    left: 35%;
    right: 25%;
    top: 60%;
    max-width: 600px;
    opacity: 0.9;
}
#char-box {
    opacity: 0.9;
}

#char-sprite-box {
    position: absolute;
    left: 20%;
    right: 40%;
    top: 10%;
}
#char-sprite {
    height: 500px;
}

#enemy-sprite-box {
    position: absolute;
    right:25%;
    left:45%;
    top: 10%;
}
#enemy-sprite {
    height: 500px;
}